html, body
{
	margin: 0;
	padding: 0;

	background: white;
	font-family: 'Karla', sans-serif;
}

#container
{
	width: 960px;
	min-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

nav
{
	width: 100%;
}

nav ul
{
	margin: 0;
	padding: 8px;
	background: #444444;
	list-style-type: none;
}

nav ul li
{
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	background: #444444;
	color: #ffffff;
	font-variant: small-caps;
	display: inline;
}
nav ul li:hover{
  cursor: pointer;
}

header
{
	background: url(img/tiny_grid.png);
	margin: 0;
	padding: 0;
	height: 250px;
}

header #title
{
	/*
	background: #ffffff;
	width: 320px;
	height: 160px;

	border: 1px solid #d3d3d3;
	border-bottom-left-radius: 15px;
	box-shadow: 3px 3px 4px #000;

	position: absolute;
	right: 0;
	z-index: 9;
	*/

	font: 50px Karla;
	color: #000;
	text-align: right;
	z-index: 100;
}

#portfolio_cycler
{
	position: relative;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
#portfolio_cycler img
{
	position: absolute;
	z-index: 1;
}
#portfolio_cycler img.active{
	z-index: 3;
}

#sponsors
{
	background: #000000;
	width: 100%;
}

#container #main div
{
	width: 48%;
	padding: 1%;
	float: left;
	text-align: justify;
	text-justify: auto;
}

footer
{
	width: 100%;
	background: #ccc;
	color: #ffffff;
	text-align: center;
	float: left;
	height: 400px;
}
