---
id: donors
title: Donors and Sponsors
---
<section class="sixcol">
  <header>
    <h1>Corporate Donors</h1>
  </header>
  <div class="content">
    <h2>Major Donors</h2>
    <p>There are currently no major corporate donors. Major donors are those that have given at least $2,500 in the last year.</p>

    <p class="centered"><%= link_to 'Be our first major donor&#8212;Donate now!', './donate.html', class: 'button' %></p>

    <h2>Donors</h2>
    <p>We are grateful to the following companies for their generous support and sponsorship of Computer Science student activities on campus:</p>

    <p class="centered"><a href="http://starterleague.com/" title="The Starter League"><img src="images/logos/full/sl.png" alt="The Starter League" /></a></p>
    <p class="centered"><a href="http://www.enovafinancial.com/" title="Enova Financial"><img src="images/logos/full/Enova.jpg" alt="Enova Financial" /></a></p>
    <p class="centered"><a href="http://www.8thlight.com/" title="8th Light"><img src="images/logos/full/8thLight.png" alt="8th Light" /></a></p>

    <p>The Computer Science Student Activities Committee also gratefully acknowledges the support provided by the University of Chicago <%= link_to 'Student Government', 'http://sg.uchicago.edu/' %> and the <%= link_to 'Office of the Reynolds Club &amp; Student Activities', 'http://studentactivities.uchicago.edu/' %>, both of which provide operating funds to the two technology-oriented Recognized Student Organizations on campus: <a href="http://hack.uchicago.edu" target="_blank">hack@uchicago</a> and the <a href="http://acm.cs.uchicago.edu/" target="_blank">ACM Student Chapter</a>.
  </div>
</section>

<section class="sixcol last">
  <header>
    <h1>Alumni Donors</h1>
  </header>
  <div class="content">
    <p>There are currently no alumni donors.</p>
    <p class="centered"><%= link_to 'Be our first alumni donor&#8212;Donate now!', './donate.html', class: 'button' %></p>
  </div>
</section>
