---
id: index
title: Home
---
<section class="sixcol">
  <header>
    <h1>Student Activities Fund</h1>
  </header>
  <div class="content">
    <p>The Student Activities Fund pays for many events on campus intended for technical students. It is also covers purchases of hardware and other capital improvements that benefit technical students on campus.</p>
    <p>This fund relies on donations from alumni, corporate sponsors, and other individuals. If you are interested in donating to the Computer Science Student Activities Fund, including sponsoring student events on campus, please see the Donate to the Student Activities Fund page. A list of our donors can be found in the Donors page.</p>
    <% link_to './donate.html' do %>
      <button>Donate Now</button>
    <% end %>
  </div>
</section>

<section class="sixcol last">
  <header>
    <h1>Events on Campus</h1>
  </header>
  <div class="content">
    <p>The committee facilitates and promotes the organization of events that are of interest to technical students on campus (including, but not limited to, students in the Department of Computer Science).</p> 
    <p>Its main role is to act as a primary contact for (1) companies interested in connecting with technical students (including for recruitment purposes), and (2) external speakers interested in speaking to technical students. If you are interested in holding an event on campus, please see our Holding an Event on Campus page.</p>
    <% link_to "./events.html" do %>
      <button>Hold an Event</button>
    <% end %>
  </div>
</section>